<div id="<%= dom_id quiz_option %>">
  <p>
    <strong>Quiz:</strong>
    <%= quiz_option.quiz_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= quiz_option.content %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= quiz_option.correct %>
  </p>

</div>
