<h1 class="text-center mt-4">New Lesson</h1>

<%= render "form", lesson: @lesson %>

<div class="mt-3 text-center">
  <%= link_to "Back to Lessons", lessons_path, class: "btn btn-secondary" %>
</div>
