<div id="<%= dom_id certificate %>">
  <p>
    <strong>User:</strong>
    <%= certificate.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= certificate.course_id %>
  </p>

  <p>
    <strong>Issued at:</strong>
    <%= certificate.issued_at %>
  </p>

</div>
