<div id="<%= dom_id quiz_response %>">
  <p>
    <strong>Quiz:</strong>
    <%= quiz_response.quiz_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quiz_response.user_id %>
  </p>

  <p>
    <strong>Selected option:</strong>
    <%= quiz_response.selected_option_id %>
  </p>

</div>
