<h1>Editing quiz response</h1>

<%= render "form", quiz_response: @quiz_response %>

<br>

<div>
  <%= link_to "Show this quiz response", @quiz_response %> |
  <%= link_to "Back to quiz responses", quiz_responses_path %>
</div>
